#navegador ul{
		list-style-type: none;
		text-align: center;
	}
	#navegador li{
		display: inline;
		text-align: center;
		margin: 0 10px 0 0;
	}
#navegador li {
	padding: 2px 7px 2px 7px;
	color: #666;
	background-color: #eeeeee;
	border: 1px solid #ccc;
	text-decoration: none;
  }
	#navegador li a:hover{
		background-color:#333333 ; 
		color: #ffffff;
}
h1 {
	color: #0F0F0F;
 text-shadow: 4px 3px 0px #7A7A7A, -16px 40px 9px rgba(206,89,55,0.24);
color: #0F0F0F;
font-style: italic;
letter-spacing: 4px;
}
body{
	padding: 3px;
}