 {
    body
    box-sizing: border-box;
    border:0;
    margin: 0;
}

.nav-css {
    background-color: coral;
    border: 1px solid;

}
.item {
    border: 2px solid;
    padding: 20px;
    background-color: coral;
    margin-bottom: 10px;   
   
}
body{
    background-color: lightcoral;
}




.menu-title {
  
    font-weight: bold;
} 
.navegador{
    transition: inherit;